* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #efefef;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexHorizontal {
  display: flex;
  justify-content: center;
}

.flexVertical {
  align-items: center;
  display: flex;
}

.flexHorizontalVertical {
  align-items: center;
  justify-content: center;
  display: flex;
}

.flexSpaceAround {
  display: flex;
  justify-content: space-around;
}

.flexSpaceBetween {
  display: flex;
  justify-content: space-between;
}

.separator {
  height: 80px;
  width: 1px;
  background: #d3d3d3;
}

header {
  z-index: 10;
  height: 96px;
  width: 100%;
  background: #fff;
}

header .header__wrapper {
  height: 96px;
}

header .header__hamburguer {
  margin-right: 10px;
  display: none;
}

header .header__hamburguer i {
  cursor: pointer;
  font-size: 25px;
}

header .header__hamburguer .nav__mobile {
  display: none;
}

header .header__hamburguer .nav__mobile ul {
  display: none;
  background: #eee;
  z-index: 9999;
  width: 100%;
  position: absolute;
  left: 0;
  top: 80px;
}

header .header__hamburguer .nav__mobile li {
  border-bottom: 1px solid #000;
}

header .header__hamburguer .nav__mobile li a {
  width: 100%;
  display: block;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  color: #919191;
}

header .input__wrapper {
  margin: 0 20px;
  width: 300px;
  border-radius: 20px;
  position: relative;
}

header .input__wrapper input[type=search] {
  border-radius: 20px;
  border: 2px solid #d3d3d3;
  width: 100%;
  height: 50px;
  background-color: #efefef;
  padding-left: 20px;
  outline: none;
}

header .input__wrapper i {
  position: absolute;
  right: 20px;
  font-size: 18px;
  color: #909090;
}

header .account__wrapper {
  margin: 0 20px;
}

header .account__wrapper .account__user {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #949293;
  background-image: url("https://avatars.githubusercontent.com/u/21081530?v=4");
  background-repeat: no-repeat,no-repeat;
  background-position: right,left;
}

header .account__wrapper .account__user i {
  font-size: 30px;
}

header .account__wrapper .account__userInfo {
  margin: 0 20px;
  text-align: center;
}

header .account__wrapper .account__userInfo span {
  color: #acacac;
}

header .account__wrapper .account__userInfo p {
  color: #606060;
  font-weight: bold;
}

header .account__wrapper .account__openUser {
  cursor: pointer;
  position: relative;
}

header .account__wrapper .account__openUser nav {
  display: none;
  position: absolute;
  transform: translateX(-70%);
  z-index: 99;
  background: #fff;
  border: 1px solid #000;
}

header .account__wrapper .account__openUser nav ul {
  width: 100px;
  list-style-type: none;
}

header .account__wrapper .account__openUser nav li {
  width: 100%;
  border-bottom: 1px solid #000;
}

header .account__wrapper .account__openUser nav li a {
  padding: 10px 0;
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #919191;
}

header .account__wrapper:hover nav {
  display: block;
}

@media screen and (max-width: 768px) {
  header .input__wrapper {
    display: none;
  }

  header .header__wrapper--right {
    display: none;
  }

  header .header__hamburguer {
    display: block;
  }

  header .header__hamburguer .nav__mobile ul {
    display: block;
  }
}

section.courses {
  padding: 50px 0;
}

section.courses .form__courses {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,.8);
  z-index: 11;
}

section.courses .form__courses form {
  border: 5px solid #000;
  padding: 15px;
  width: 100%;
  max-width: 370px;
  height: 390px;
  background: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
}

section.courses .form__courses form input[type=text] {
  height: 40px;
  margin-bottom: 30px;
  padding-left: 7px;
  border: 1px solid #000;
}

section.courses .form__courses form textarea {
  height: 80px;
  margin-bottom: 30px;
  padding: 7px;
  border: 1px solid #000;
}

section.courses .form__courses form label {
  color: #777;
  font-size: 14px;
  margin-bottom: 10px;
}

section.courses .form__courses form .form__courses--buttons {
  position: absolute;
  bottom: 20px;
}

section.courses .form__courses form button[type=submit] {
  width: 100px;
  height: 30px;
  color: #fff;
  background: green;
  border: none;
  cursor: pointer;
}

section.courses .form__courses form div.form__close {
  width: 100px;
  height: 30px;
  color: #fff;
  background: red;
  border: none;
  cursor: pointer;
  margin: 0 10px;
}

section.courses h2 {
  text-transform: uppercase;
  color: #545454;
  font-weight: bold;
  padding-bottom: 15px;
  border-bottom: 1px solid #d3d3d3;
}

section.courses .courses__list {
  margin-top: 20px;
}

section.courses .courses__add {
  cursor: pointer;
  width: 300px;
  height: 330px;
  border: 2px dashed #9f9f9f;
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 0;
  text-align: center;
}

section.courses .courses__add i {
  font-size: 70px;
  margin-bottom: 30px;
  color: #9f9f9f;
}

section.courses .courses__add p {
  font-size: 20px;
  font-weight: bold;
  color: #9f9f9f;
  text-transform: uppercase;
}

section.courses .courses__card {
  width: 300px;
  height: 330px;
  background: #fff;
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 0;
  text-align: center;
}

section.courses .courses__card:first-of-type {
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 0;
}

section.courses .courses__card img {
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
}

section.courses .courses__card .courses__card--description {
  padding: 0 20px;
  text-align: left;
  min-height: 77px;
}

section.courses .courses__card .courses__card--description h4 {
  text-transform: uppercase;
  font-size: 17px;
  color: #555;
  margin-bottom: 20px;
}

section.courses .courses__card .courses__card--description p {
  color: #aeaeae;
  margin-bottom: 20px;
}

section.courses .courses__card .courses__button {
  height: 40px;
  width: 250px;
  background: #01a02a;
  border-radius: 20px;
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .courses__list.flex {
    justify-content: center;
  }
}

section.slider {
  width: 100%;
  height: 330px;
  position: relative;
}

section.slider .slider__imgs {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section.slider .slider__arrowLeft {
  z-index: 99;
  cursor: pointer;
  position: absolute;
  left: 20px;
  font-size: 47px;
  color: #efe7e4;
}

section.slider .slider__arrowRight {
  z-index: 99;
  cursor: pointer;
  position: absolute;
  right: 20px;
  font-size: 47px;
  color: #efe7e4;
}

section.slider .slider__dots--wrapper {
  z-index: 10;
  background: #fff;
  width: 80px;
  height: 30px;
  border-radius: 20px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

section.slider .slider__dots--wrapper .slider__dots {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #cdcbcc;
}

section.slider .slider__dots--wrapper .slider__dots.slider__dots--active {
  background-color: #4c4040;
}

section.slider .slider__info--wrapper {
  width: 100%;
}

section.slider .slider__info {
  padding: 30px;
  z-index: 10;
  width: 390px;
  height: 290px;
  background: rgba(0,0,0,.8);
}

section.slider .slider__info h2 {
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 30px;
}

section.slider .slider__info p {
  color: #fff;
  padding-bottom: 30px;
}

section.slider .slider__info a {
  width: 125px;
  height: 30px;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
}

@media screen and (max-width: 1024px) {
  section.slider .slider__info {
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  section.slider .slider__info {
    width: 330px;
  }
}

footer .footer__contact {
  background: #fff;
  width: 100%;
  padding: 25px 0;
}

footer .footer__contact .footer__about {
  max-width: 300px;
}

footer .footer__contact .footer__about img {
  margin-bottom: 20px;
}

footer .footer__contact .footer__about p {
  color: #b3b3b3;
}

footer .footer__contact .footer__contact--right .footer__telephone {
  margin-right: 120px;
}

footer .footer__contact .footer__contact--right .footer__telephone h5 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 22px;
}

footer .footer__contact .footer__contact--right .footer__telephone p {
  color: #a3aea6;
}

footer .footer__contact .footer__contact--right .footer__social {
  text-align: center;
}

footer .footer__contact .footer__contact--right .footer__social h5 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 22px;
}

footer .footer__contact .footer__contact--right .footer__social i {
  font-size: 30px;
  color: #b5b5b5;
  margin: 0 7px;
  cursor: pointer;
}

footer .footer__copyright {
  padding: 7px 0;
}

footer .footer__copyright p {
  color: #aeacad;
}

@media screen and (max-width: 768px) {
  .footer__about {
    margin: 0 0 30px;
    text-align: center;
  }

  .footer__about--wrapper {
    flex-direction: column;
  }

  .footer__contact--right {
    flex-direction: column;
    margin: 0 0 30px;
  }

  footer .footer__contact .footer__contact--right .footer__telephone {
    margin: 15px auto;
    text-align: center;
  }

  footer .footer__contact .footer__contact--right .footer__social {
    margin: 15px auto;
    text-align: center;
  }
}